<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	th:replace="~{layouts/dashboard :: main-fragment(
		~{::#persona-sidebar},
		~{::#persona-header},
		~{::#persona-title},
		~{::#persona-main-content},
		~{::#persona-footer}
	)}"
>
	
<head>
	<meta charset="ISO-8859-1">
	<title>Listado de personas</title>
    <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">
	<link rel="stylesheet" href="/css/dorang.css">
	<th:block id="customers-static-resources">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">		
	</th:block>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">
	<div id="persona-sidebar" th:replace="~{/fragments/sidebar :: sidebar}"></div>
    <div id="persona-header" th:replace="~{/fragments/header :: header}"></div>
	<div class="container">
		<div id="persona-title" class="row" style="padding: 2rem 1.5rem;">
			<div class="row">
				<h1>Lista de personas</h1>		
			</div>
		</div>
		<div id="persona-main-content">
			<div class="row pb-3">
				<div class="col-md-4"> 
					<a th:href="@{/newpersona}" class="btn btn-warning">Agregar persona</a>
					<a th:href="@{/exportPDF}" class="btn btn-danger">Exportar PDF</a>
					<a th:href="@{/exportExcel}" class="btn btn-success">Exportar Excel</a>
				</div>
			</div>
			<table class="table table-dark table-striped">
				<thead class="table-light">
					<tr>
						<th>Nombre</th>
						<th>Apellido Paterno</th>
						<th>Apellido Materno</th>
						<th>Edad</th>
						<th>Genero</th>
						<th>Fecha de nacimiento</th>
						<th>Email</th>
						<th>Direccion</th>
						<th>Celular</th>
						<th>Acciones</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="persona : ${personas}">
						<td th:text="${persona.nombre}"></td>
						<td th:text="${persona.apePat}"></td>
						<td th:text="${persona.apeMat}"></td>
						<td th:text="${persona.edad}"></td>
						<td th:text="${persona.genero}"></td>
						<td th:text="${persona.fecha_nacimiento}"></td>
						<td th:text="${persona.email}"></td>
						<td th:text="${persona.direccion}"></td>
						<td th:text="${persona.celular}"></td>
						<td class="d-grid gap-2 d-md-flex">
							<a th:href="@{/editpersona/{id}(id=${persona.id})}"
							class="btn btn-outline-info" style="display: inherit">
							Editar
							</a>
							<a th:href="@{/deletepersona/{id}(id=${persona.id})}"
							class="btn btn-outline-danger" style="display: inherit">
							Eliminar
							</a>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
	<div id="persona-footer" th:replace="~{/fragments/footer :: footer}"></div>
</body>
	
	
	
</html>