<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	th:replace="~{layouts/dashboard :: main-fragment(
		~{::#paciente-sidebar},
		~{::#paciente-header},
		~{::#paciente-title},
		~{::#paciente-main-content},
		~{::#paciente-footer}
	)}"
>
<head>
	<meta charset="ISO-8859-1">
	<title>Listado de pacientes</title>
    <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">
	<link rel="stylesheet" href="/css/dorang.css">
	<th:block id="customers-static-resources">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">		
	</th:block>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">
	<div id="paciente-sidebar" th:replace="~{/fragments/sidebar :: sidebar}"></div>
    <div id="paciente-header" th:replace="~{/fragments/header :: header}"></div>
	<div class="container">
		<div id="paciente-title" class="row" style="padding: 2rem 1.5rem;">
			<div class="row">
				<h1>Lista de pacientes</h1>		
			</div>	
		</div>
		<div id="paciente-main-content">
			<div class="row pb-3">
				<div class="col-md-4"> 
					<a th:href="@{/new}" class="btn btn-warning">Agregar paciente</a>
					<a th:href="@{/exportPDFPacientes}" class="btn btn-danger">Exportar PDF</a>
					<a th:href="@{/exportExcelPacientes}" class="btn btn-success">Exportar Excel</a>
				</div>
			</div>
			<table class="table table-dark table-striped">
				<thead class="table-light">
					<tr>
						<th>Peso</th>
						<th>Altura</th>
						<th>Temperatura</th>
						<th>Presion</th>
						<th>Alergias</th>
						<th>Acciones</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="paciente : ${pacientes}">
						<td th:text="${paciente.peso}"></td>
						<td th:text="${paciente.altura}"></td>
						<td th:text="${paciente.temperatura}"></td>
						<td th:text="${paciente.presion}"></td>
						<td th:text="${paciente.alergias}"></td>
						<td>
							<a th:href="@{/edit/{id}(id=${paciente.id})}"
							class="btn btn-outline-info">
							Editar
							</a>
							<a th:href="@{/delete/{id}(id=${paciente.id})}"
							class="btn btn-outline-danger">
							Eliminar
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="paciente-footer" th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>