<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Sidebar</title>
</head>
<body>
    <div id="sidebar" class='active' th:fragment="sidebar"><!--sidebar-->
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <img src="/images/logo-vmed.png" alt="icon" srcset="">
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class='sidebar-title'>Menú</li>
                    <li class="sidebar-item">
                        <a th:href="@{/home}" class='sidebar-link'>
                            <i data-feather="home" width="20"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/consultas}" class='sidebar-link'>
                            <i data-feather="file-text" width="20"></i>
                            <span>Consultas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/pacientes}"class='sidebar-link'>
                            <i data-feather="briefcase" width="20"></i>
                            <span>Pacientes</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/personas}" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>Personas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/medicos}" class='sidebar-link'>
                            <i data-feather="triangle" width="20"></i>
                            <span>Médicos</span>
                        </a>
                    </li>
                    <li class='sidebar-title'>OTRAS OPCIONES</li>
                   <li class="sidebar-item  ">
                        <a th:href="@{/especialidades}" class='sidebar-link'>
                            <i data-feather="layout" width="20"></i>
                            <span>Especialidades</span>
                        </a>
                    </li>
                   <li class="sidebar-item  ">
                        <a th:href="@{/medicamentos}" class='sidebar-link'>
                            <i data-feather="layers" width="20"></i>
                            <span>Medicamentos</span>
                        </a>
                    </li>
                    <li class="sidebar-item  ">
                        <a href="table.html" class='sidebar-link'>
                            <i data-feather="grid" width="20"></i>
                            <span>Table</span>
                        </a>
                    </li>
                    <li class="sidebar-item  ">
                        <a href="table-datatable.html" class='sidebar-link'>
                            <i data-feather="file-plus" width="20"></i>
                            <span>Datatable</span>
                        </a>
                    </li>
                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="trending-up" width="20"></i>
                            <span>Charts</span>
                        </a>
                    </li>
                    <li class='sidebar-title'>Pages</li>
                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>Authentication</span>
                        </a>
                    </li>
                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="alert-circle" width="20"></i>
                            <span>Errors</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>